/*-- scss:defaults --*/
$lecture-load-web-fonts: false;
$font-family-sans-serif: "Frontier Inter", sans-serif;
$font-family-monospace: "Frontier JetBrains Mono", monospace;
$presentation-heading-font: "Frontier Space Grotesk", "Frontier Inter", sans-serif;
